.block-directory-downloadable-block-list-item {
	width: 100%;

	.block-directory-downloadable-block-icon {
		margin-right: $grid-unit-20;
	}
}

.block-directory-downloadable-block-list-item__item {
	padding: $grid-unit-20;
	width: 100%;
	height: auto;
	text-align: left;
	display: grid;
	grid-template-columns: auto 1fr;

	&:hover {
		box-shadow: 0 0 0 $border-width-focus var(--wp-admin-theme-color);
	}

	&.is-busy {
		background: transparent;
	}

	.components-spinner {
		float: right;
	}
}

.block-directory-downloadable-block-list-item__details {
	color: $gray-900;
}

.block-directory-downloadable-block-list-item__title {
	display: block;
	margin-bottom: $grid-unit-10;
}

.block-directory-downloadable-block-list-item__author {
	margin-top: $grid-unit-10;
	color: $gray-700;
}

.block-directory-downloadable-block-list-item__desc {
	display: block;
	margin-top: $grid-unit-10;
	grid-column-start: 1;
	grid-column-end: span 2;
	color: $gray-900;
}
